<div *ngIf="state.needToAskForVip" class="popUpBackground">
  <div id="vipPopUp">
    <h2>Do you want to be the VIP?</h2>
    <div class="row">
      <button (click)="emmitMakeVIPEvent()">Yes</button>
      <button (click)="declineVip()">No</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="col-12">{{state.seshCode}}</h2>
  </div>
  <div class="row textRow">
    <p>You joined successfully!<br>
      <span *ngIf="!state.isVip">Please wait for the VIP to start the Sesh</span>
    </p>
  </div>
  <div class="row" *ngIf="state.isVip">
    <button (click)="emitStartSesh()">Start Sesh</button>
  </div>
  <div class="row">
    <div class="col-12" id="warning">
      <p>Please do <b>not</b>:</p>
      <ul>
        <li>Exit this page</li>
        <li>Exit your browser</li>
        <li>Refresh this page</li>
      </ul>
    </div>
  </div>
</div>
