<app-controller-lobby *ngIf="currentStage.toString() === 'LOBBY'" [seshCode]="seshCode" [isVip]="isVIP"
                      [needToAskForVip]="needToAskForVip" [playerId]="playerId" (makeVip)="makeVIP($event)"
                      (startSesh)="startSesh($event)"></app-controller-lobby>

<app-quizxel-controller-main *ngIf="currentStage.toString() === 'MAIN' && !isVIP" [playerId]="playerId"
                             [state]="mainState" (answer)="answerQuestion($event)"></app-quizxel-controller-main>

<app-quizxel-controller-main-vip *ngIf="currentStage.toString() === 'MAIN' && isVIP" [playerId]="playerId"
                                 [state]="mainState"></app-quizxel-controller-main-vip>
