.container {

  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#seshCode {

  text-align: center;
  font-size: 5rem;
}

#playerCount {

  text-align: right;
}

#playerRow{

  flex-grow: 1;
  justify-content: center;
}


