#questionText, #questionAnswer {
  text-align: center;
}

#questionContainer {

  height: 25%;
}

#buzzeredPlayer {

  height: fit-content;
}

.playerRow {

  flex-direction: column;
  height: 100%;
}

.idlePlayer {

  max-width: 200px;
}

#container {

  height: 100%;
  display: flex;
  justify-content: space-between;
}
