<div id="container">
  <div id="questionContainer">
    <h2 id="questionText" *ngIf="state.showQuestion">{{state.currentQuestion.questionText}}</h2>
    <h2 id="questionAnswer" *ngIf="state.showAnswer">{{state.currentQuestion.questionAnswer}}</h2>
  </div>

  <div *ngIf="state.currentQuestion.type === 'BUZZER' && state.buzzedPlayerId !== null" id="buzzeredPlayer" class="row">
    <app-quizxel-host-lobby-playerplayerImage [player]="buzzeredPlayer"></app-quizxel-host-lobby-playerplayerImage>
  </div>

  <div class="row" id="players">
    <app-quizxel-host-lobby-playerplayerImage *ngFor="let player of controllerPlayers" [showPoints]="true" [player]="player"></app-quizxel-host-lobby-playerplayerImage>
  </div>
</div>
