<div id="container">
  <div id="questionContainer">
    <h2 id="questionText" *ngIf="showQuestion">{{currentQuestion.questionText}}</h2>
    <h2 id="questionAnswer" *ngIf="showAnswer">{{currentQuestion.questionAnswer}}</h2>
  </div>

  <div *ngIf="currentQuestion.type === 'BUZZER' && buzzeredPlayer !== undefined" id="buzzeredPlayer" class="row">
    <app-quizxel-host-lobby-player [player]="buzzeredPlayer"></app-quizxel-host-lobby-player>
  </div>

  <div class="row" id="players">
    <app-quizxel-host-lobby-player *ngFor="let player of controllerPlayers" [showPoints]="true" [player]="player"></app-quizxel-host-lobby-player>
  </div>
</div>
