<div class="main">
  <div class="playerRow">
    <app-quizxel-host-lobby-playerplayerImage class="idlePlayer" *ngFor="let player of leftControllerPlayers"
                                              [showPoints]="true"
                                              [player]="player"></app-quizxel-host-lobby-playerplayerImage>
  </div>
  <div class="middleRow">
    <h2 id="questionText" *ngIf="state.showQuestion">{{state.currentQuestion.questionText}}</h2>
    <h2 id="questionAnswer" *ngIf="state.showAnswer">{{state.currentQuestion.questionAnswer}}</h2>
    <app-quizxel-host-lobby-playerplayerImage
      *ngIf="state.currentQuestion.type === 'BUZZER' && buzzeredPlayer !== undefined"
      [player]="buzzeredPlayer" id="buzzeredPlayer" class="col-6"></app-quizxel-host-lobby-playerplayerImage>
  </div>
  <div class="playerRow">
    <app-quizxel-host-lobby-playerplayerImage class="idlePlayer" *ngFor="let player of rightControllerPlayers"
                                              [showPoints]="true"
                                              [player]="player"></app-quizxel-host-lobby-playerplayerImage>
  </div>
</div>
