<app-quizxel-controller-lobby *ngIf="state.currentStage.toString() === 'LOBBY'" [state]="lobbyState"
                              (seshAction)="handleAction($event)"
                              (makeVIP)="makeVIP($event)"></app-quizxel-controller-lobby>

<app-quizxel-controller-main-player *ngIf="state.currentStage.toString() === 'MAIN' && !isVIP" [playerId]="playerId"
                                    [questionType]="state.currentQuestion.type" [buzzedPlayerId]="state.buzzedPlayerId"
                                    (seshAction)="handleAction($event)"></app-quizxel-controller-main-player>

<app-quizxel-controller-main-vip *ngIf="state.currentStage.toString() === 'MAIN' && isVIP" [playerId]="playerId"
                                 [state]="state"
                                 (seshAction)="handleAction($event)"></app-quizxel-controller-main-vip>
