<app-quizxel-controller-lobby *ngIf="currentStage.toString() === 'LOBBY'" [seshCode]="seshCode" [isVip]="isVIP"
                      [needToAskForVip]="needToAskForVip" [playerId]="playerId"
                      (seshAction)="handleAction($event)" (makeVIP)="makeVIP($event)"></app-quizxel-controller-lobby>

<app-quizxel-controller-main-player *ngIf="currentStage.toString() === 'MAIN' && !isVIP" [playerId]="playerId"
                             [state]="mainState" (seshAction)="handleAction($event)"></app-quizxel-controller-main-player>

<app-quizxel-controller-main-vip *ngIf="currentStage.toString() === 'MAIN' && isVIP" [playerId]="playerId"
                                 [state]="mainState"
                                 (seshAction)="handleAction($event)"></app-quizxel-controller-main-vip>
