#question {

  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.container {

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1D5B79;
  color: white;
  justify-content: space-evenly;
  font-size: 3.5rem;
}

.container button {

  background-color: #F3AA60;
  color: white;
  border: black solid 1px;
  font-size: 3.5rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

#wrongAnswer, #hideQuestion, #hideAnswer, #prevQuestion{
  background-color: #EF6262;
}

#freeBuzzer {
  background-color: #F3AA60;
}

#correctAnswer, #showQuestion, #showAnswer, #nextQuestion {
  background-color: #4CAF50;
}

#buzzerRow {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#controls{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
#controls .row{
  margin: 10px;
}

#buzzedPopUp h3{
  text-align: center;
  overflow-wrap: anywhere;

}
