<div class="container">
  <app-quizxel-popup *ngIf="state.buzzedPlayerName != undefined" id="buzzedPopUp">
    <h3>{{state.buzzedPlayerName}} buzzered!</h3>
    <h3>Answer: {{state.currentQuestion.questionAnswer}}</h3>
    <div id="buzzerRow">
      <button type="button" (click)="freeBuzzer(true)" id="correctAnswer">Correct Answer</button>
      <button type="button" (click)="freeBuzzer(undefined)" id="freeBuzzer">Free buzzer</button>
      <button type="button" (click)="freeBuzzer(false)" id="wrongAnswer">Wrong Answer</button>
    </div>
  </app-quizxel-popup>

  <div id="question" class="row">
    <div id="questionText"><span>Question: </span>{{state.currentQuestion.questionText}}</div>
    <div *ngIf="state.showAnswer" id="questionAnswer"><span>Answer: </span>{{state.currentQuestion.questionAnswer}}</div>
  </div>
  <div id="controls">
    <div class="row">
      <button type="button" (click)="showQuestion(false)" id="hideQuestion">Hide Question</button>
      <button type="button" (click)="showQuestion(true)" id="showQuestion">Show Question</button>
    </div>
    <div class="row">
      <button type="button" (click)="showAnswer(false)" id="hideAnswer">Hide Answer</button>
      <button type="button" (click)="showAnswer(true)" id="showAnswer">Show Answer</button>
    </div>
    <div class="row">
      <button type="button" (click)="prevQuestion()" id="prevQuestion">Prev Question</button>
      <button type="button" (click)="nextQuestion()" id="nextQuestion">Next Question</button>
    </div>
  </div>
</div>
