header{

  display: flex;
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px 10px;
  box-shadow: gray 0 2px 5px;
}

h1{

  margin: 0;
}

a{

  text-decoration: none;
  color: white;
}

.logo{

  border: white solid 1px;
}

.logo .long-logo{

  display: inline-block;
}

.logo .short-logo{

  display: none;
}

@media screen and (max-width: 700px){

  .logo .long-logo{

    display: none;
  }

  .logo .short-logo{

    display: inline-block;
  }
}
