form{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2{

  font-size: 3rem;
}

input, label, button{

  font-size: 2.5rem;
  min-height: 2.5rem;
  padding: 5px;
}

button{

  margin: 10px;
}

h3{

  margin: 2px;
}
