<form [formGroup]="form" (ngSubmit)="join()">
  <h2>Join Game</h2>
  <label for="sessionCode">Sesh Code</label>
  <input id="sessioncode" formControlName="sessionCode" type="text" [maxLength]="sessionCodeLength"
         (input)="sessionCodeToUppercase($event)" [placeholder]="sessionCodeLength + ' character sesh code'">
  <label for="sessionCode">Name</label>
  <input id="playerName" formControlName="playerName" type="text" [maxLength]="playerNameMaxLength" [placeholder]="'Your name'">
  <button type="submit" [disabled]="!form.valid || !seshExists">Join</button>
</form>
