
*{

  box-sizing: border-box;

  --primary-color: #333333;
  --secondary-color:#c8112f;
  --background-color: #f2f2f2;
  font-family: sans-serif;
}

img{

  max-width: 100%;
  max-height: 100%;
}

body{

  margin: 0;
  min-height: 100vh;
}

.card{

  background-color: white;
  border-radius: 5px;
  border: lightgray 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: gray 0 2px 5px;
  padding: 10px;
}

.card:hover{

  background-color: #ececec;
}

[class*="col-"]{

  margin: 0 10px;
}

a{

  color: inherit;
  text-decoration: none;
}

.container{

  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.row{

  padding: 5px 0 5px;
  display: flex;
  flex-wrap: wrap;
}

.col-12{

  width: calc(100% - 20px);

}

.col-11{

  width: calc(100% / 12 * 11 - 20px);
}

.col-10{

  width: calc(100% / 12 * 10 - 20px);
}

.col-9{

  width: calc(100% / 12 * 9 - 20px);
}

.col-8{

  width: calc(100% / 12 * 8 - 20px);
}

.col-7{

  width: calc(100% / 12 * 7 - 20px);
}

.col-6{

  width: calc(50% - 20px);
}

.col-5{

  width: calc(100% / 12 * 5 - 20px);
}

.col-4{

  width: calc(100% / 12 * 4 - 20px);
}

.col-3{

  width: calc(100% / 12 * 3 - 20px);
}

.col-2{

  width: calc(100% / 12 * 2 - 20px);
}

.col-1{

  width: calc(100% / 12 - 20px);
}

.pageComponent{
  display: inline-block;
  height: 100%;
}
