.playerName{

  width: 100%;
  text-align: center;
}

.playerIcon{

  max-height: calc((100vh - 500px) / 3.5);
  max-width: calc((100vh - 500px) / 3.5);
}

.player{

  display: flex;
  flex-direction: column;
  align-items: center;
}


