#playerRow{

  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}

.container{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#seshCode{

  text-align: center;
}
